= render 'shared/left_contents'

.right_contents
  .right_contents__top
    .right_contents__top__group
      グループ名
    = link_to "Edit", "/", class:"right_contents__top__edit"
    .right_contents__top__members
      Member：仮のメンバー
  .right_contents__messages
    - @messages.each do |message|
      .message
        .message__user
          = message.user.name
        .message__date
          2017/10/02 06:31
        .message__content
          - if message.body?
            = message.body
          - else
            = image_tag message.image
  .right_contents__input
    = form_for [@group, @message] do |f|
      = f.text_field :body, class:"right_contents__input__text", placeholder:"type a message"
      .mask
        %label
          = f.file_field :image, class:"right_contents__input__file"
          %i.fa.fa-picture-o{style:"font-size: 20px;"}
      = f.submit "Send",class:"right_contents__input__submit"
