.left_contents
  .left_contents__top
    .left_contents__top__user
      = current_user.name
    .left_contents__top__icons
      = link_to "", new_group_path, class:"fa fa-pencil-square-o", style:"text-decoration: none; color: #FFF;"
      = link_to "", edit_user_registration_path, class:"fa fa-cog", style:"text-decoration: none; color: #FFF;"

  - current_user.groups.each do |group|
    .left_contents__group
      = link_to "#{group.name}", "/groups/#{params[:id]}/messages/", style:"text-decoration: none; color: #FFF;"
    .left_contents__group__recent_comment
      = group.messages.order(created_at: :desc).take.try(:body)
